<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
