<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
