<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OPENAI_API_KEY</key>
	<string>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</string>
</dict>
</plist>
